.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.loading-spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  animation: loading-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

body.light-theme .loading-spinner div {
  background: #bdc3c7;
}

body.dark-theme .loading-spinner div {
  background: #ecf0f1;
}

.loading-spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loading-spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
