@import "/fonts/fonts.css";
@import "/page/header/header.css";
@import "/page/content/content.css";
@import "/page/footer/footer.css";
@import "/page/other/loading-spinner/loading-spinner.css";

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  font-family: "pt-sans", sans-serif;
  font-size: 14px;
  --light-theme-color: #7f8c8d;
  --dark-theme-color: #ecf0f1;
  transition: all 600ms ease;
}

body.light-theme {
  color: var(--light-theme-color);
  background-color: #ffffff;
}

body.dark-theme {
  color: var(--dark-theme-color);
  background-color: #363333;
}

body button,
body input {
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

body input {
  border-bottom-color: #bdc3c7;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

body input:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

body.light-theme button,
body.light-theme input,
body.light-theme input::placeholder,
body.light-theme h1 {
  color: var(--light-theme-color);
}

body.dark-theme button,
body.dark-theme input,
body.dark-theme h1 {
  color: var(--dark-theme-color);
}

body.light-theme input:focus {
  border-bottom-color: var(--light-theme-color);
}

body.dark-theme input:focus {
  border-bottom-color: var(--dark-theme-color);
}

body.dark-theme input::placeholder {
  color: #bdc3c7;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 17px;
  }
}
