.keyboard-wrap {
  position: absolute;
  width: 640px;
  height: 160px;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
}

.keyboard-wrap ~ input {
  border: 1px solid #9999ff;
}

body.light-theme .keyboard-wrap {
  box-shadow: 0px 0px 24px 8px rgba(127, 140, 141, 1);
  background-color: #ffffff;
}

body.dark-theme .keyboard-wrap {
  box-shadow: 0px 0px 24px 8px rgba(236, 240, 241, 1);
  background-color: #363333;
}

.key-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.key-wrap div {
  position: absolute;
  height: 40px;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
}

body .keyboard-wrap .key-wrap div:hover {
  background-color: #ddddff;
}

body.light-theme .key-wrap div {
  background-color: #ffffff;
  color: #7f8c8d;
}

body.dark-theme .key-wrap div {
  background-color: #363333;
}

.key-wrap div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.key-letter span,
.key-number span,
.key-symbol span {
  font-weight: bold;
}

.key-switch-language,
.key-switch-number,
.key-switch-symbol,
.key-caps-lock,
.key-clear,
.key-shift,
.key-backspace,
.key-enter {
  width: 80px;
  top: 80px;
}

.key-switch-language {
  left: 0;
  background: url(/image/icon-switch-language.png) center center no-repeat;
  background-size: 20px;
}

.key-switch-symbol {
  left: 80px;
}

.key-switch-number {
  left: 160px;
}

.key-caps-lock {
  left: 240px;
}

.key-shift {
  left: 320px;
}

.key-clear {
  left: 400px;
}

.key-enter {
  left: 480px;
}

.key-backspace {
  left: 560px;
  background: url(/image/icon-backspace.png) center center no-repeat;
  background-size: 20px;
}

.key-space {
  width: 640px;
  left: 0;
  top: 120px;
}

body .keyboard-wrap .key-wrap .key-active {
  background-color: #9999ff;
}

.russian-layout .key-letter {
  width: 40px;
  --left-ru: 40px;
}

.russian-layout .key-letter:nth-child(1) {
  left: 0;
  top: 0;
}
.russian-layout .key-letter:nth-child(2) {
  left: calc(var(--left-ru) * 1);
  top: 0;
}
.russian-layout .key-letter:nth-child(3) {
  left: calc(var(--left-ru) * 2);
  top: 0;
}
.russian-layout .key-letter:nth-child(4) {
  left: calc(var(--left-ru) * 3);
  top: 0;
}
.russian-layout .key-letter:nth-child(5) {
  left: calc(var(--left-ru) * 4);
  top: 0;
}
.russian-layout .key-letter:nth-child(6) {
  left: calc(var(--left-ru) * 5);
  top: 0;
}
.russian-layout .key-letter:nth-child(7) {
  left: calc(var(--left-ru) * 6);
  top: 0;
}
.russian-layout .key-letter:nth-child(8) {
  left: calc(var(--left-ru) * 7);
  top: 0;
}
.russian-layout .key-letter:nth-child(9) {
  left: calc(var(--left-ru) * 8);
  top: 0;
}
.russian-layout .key-letter:nth-child(10) {
  left: calc(var(--left-ru) * 9);
  top: 0;
}
.russian-layout .key-letter:nth-child(11) {
  left: calc(var(--left-ru) * 10);
  top: 0;
}
.russian-layout .key-letter:nth-child(12) {
  left: calc(var(--left-ru) * 11);
  top: 0;
}
.russian-layout .key-letter:nth-child(13) {
  left: calc(var(--left-ru) * 12);
  top: 0;
}
.russian-layout .key-letter:nth-child(14) {
  left: calc(var(--left-ru) * 13);
  top: 0;
}
.russian-layout .key-letter:nth-child(15) {
  left: calc(var(--left-ru) * 14);
  top: 0;
}
.russian-layout .key-letter:nth-child(16) {
  left: calc(var(--left-ru) * 15);
  top: 0;
}
.russian-layout .key-letter:nth-child(17) {
  left: 0;
  top: 40px;
}
.russian-layout .key-letter:nth-child(18) {
  left: calc(var(--left-ru) * 1);
  top: 40px;
}
.russian-layout .key-letter:nth-child(19) {
  left: calc(var(--left-ru) * 2);
  top: 40px;
}
.russian-layout .key-letter:nth-child(20) {
  left: calc(var(--left-ru) * 3);
  top: 40px;
}
.russian-layout .key-letter:nth-child(21) {
  left: calc(var(--left-ru) * 4);
  top: 40px;
}
.russian-layout .key-letter:nth-child(22) {
  left: calc(var(--left-ru) * 5);
  top: 40px;
}
.russian-layout .key-letter:nth-child(23) {
  left: calc(var(--left-ru) * 6);
  top: 40px;
}
.russian-layout .key-letter:nth-child(24) {
  left: calc(var(--left-ru) * 7);
  top: 40px;
}
.russian-layout .key-letter:nth-child(25) {
  left: calc(var(--left-ru) * 8);
  top: 40px;
}
.russian-layout .key-letter:nth-child(26) {
  left: calc(var(--left-ru) * 9);
  top: 40px;
}
.russian-layout .key-letter:nth-child(27) {
  left: calc(var(--left-ru) * 10);
  top: 40px;
}
.russian-layout .key-letter:nth-child(28) {
  left: calc(var(--left-ru) * 11);
  top: 40px;
}
.russian-layout .key-letter:nth-child(29) {
  left: calc(var(--left-ru) * 12);
  top: 40px;
}
.russian-layout .key-letter:nth-child(30) {
  left: calc(var(--left-ru) * 13);
  top: 40px;
}
.russian-layout .key-letter:nth-child(31) {
  left: calc(var(--left-ru) * 14);
  top: 40px;
}
.russian-layout .key-letter:nth-child(32) {
  left: calc(var(--left-ru) * 15);
  top: 40px;
}

.english-layout .key-letter {
  width: 49.231px;
  --left-en: 49.231px;
}
.english-layout .key-letter:nth-child(1) {
  left: 0;
  top: 0;
}
.english-layout .key-letter:nth-child(2) {
  left: calc(var(--left-en) * 1);
  top: 0;
}
.english-layout .key-letter:nth-child(3) {
  left: calc(var(--left-en) * 2);
  top: 0;
}
.english-layout .key-letter:nth-child(4) {
  left: calc(var(--left-en) * 3);
  top: 0;
}
.english-layout .key-letter:nth-child(5) {
  left: calc(var(--left-en) * 4);
  top: 0;
}
.english-layout .key-letter:nth-child(6) {
  left: calc(var(--left-en) * 5);
  top: 0;
}
.english-layout .key-letter:nth-child(7) {
  left: calc(var(--left-en) * 6);
  top: 0;
}
.english-layout .key-letter:nth-child(8) {
  left: calc(var(--left-en) * 7);
  top: 0;
}
.english-layout .key-letter:nth-child(9) {
  left: calc(var(--left-en) * 8);
  top: 0;
}
.english-layout .key-letter:nth-child(10) {
  left: calc(var(--left-en) * 9);
  top: 0;
}
.english-layout .key-letter:nth-child(11) {
  left: calc(var(--left-en) * 10);
  top: 0;
}
.english-layout .key-letter:nth-child(12) {
  left: calc(var(--left-en) * 11);
  top: 0;
}
.english-layout .key-letter:nth-child(13) {
  left: calc(var(--left-en) * 12);
  top: 0;
}
.english-layout .key-letter:nth-child(14) {
  left: 0;
  top: 40px;
}
.english-layout .key-letter:nth-child(15) {
  left: calc(var(--left-en) * 1);
  top: 40px;
}
.english-layout .key-letter:nth-child(16) {
  left: calc(var(--left-en) * 2);
  top: 40px;
}
.english-layout .key-letter:nth-child(17) {
  left: calc(var(--left-en) * 3);
  top: 40px;
}
.english-layout .key-letter:nth-child(18) {
  left: calc(var(--left-en) * 4);
  top: 40px;
}
.english-layout .key-letter:nth-child(19) {
  left: calc(var(--left-en) * 5);
  top: 40px;
}
.english-layout .key-letter:nth-child(20) {
  left: calc(var(--left-en) * 6);
  top: 40px;
}
.english-layout .key-letter:nth-child(21) {
  left: calc(var(--left-en) * 7);
  top: 40px;
}
.english-layout .key-letter:nth-child(22) {
  left: calc(var(--left-en) * 8);
  top: 40px;
}
.english-layout .key-letter:nth-child(23) {
  left: calc(var(--left-en) * 9);
  top: 40px;
}
.english-layout .key-letter:nth-child(24) {
  left: calc(var(--left-en) * 10);
  top: 40px;
}
.english-layout .key-letter:nth-child(25) {
  left: calc(var(--left-en) * 11);
  top: 40px;
}
.english-layout .key-letter:nth-child(26) {
  left: calc(var(--left-en) * 12);
  top: 40px;
}

.symbol-layout .key-symbol {
  width: 49.231px;
  --left-sym: 49.231px;
}
.symbol-layout .key-symbol:nth-child(1) {
  left: 0;
  top: 0;
}
.symbol-layout .key-symbol:nth-child(2) {
  left: calc(var(--left-sym) * 1);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(3) {
  left: calc(var(--left-sym) * 2);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(4) {
  left: calc(var(--left-sym) * 3);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(5) {
  left: calc(var(--left-sym) * 4);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(6) {
  left: calc(var(--left-sym) * 5);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(7) {
  left: calc(var(--left-sym) * 6);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(8) {
  left: calc(var(--left-sym) * 7);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(9) {
  left: calc(var(--left-sym) * 8);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(10) {
  left: calc(var(--left-sym) * 9);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(11) {
  left: calc(var(--left-sym) * 10);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(12) {
  left: calc(var(--left-sym) * 11);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(13) {
  left: calc(var(--left-sym) * 12);
  top: 0;
}
.symbol-layout .key-symbol:nth-child(14) {
  left: 0;
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(15) {
  left: calc(var(--left-sym) * 1);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(16) {
  left: calc(var(--left-sym) * 2);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(17) {
  left: calc(var(--left-sym) * 3);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(18) {
  left: calc(var(--left-sym) * 4);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(19) {
  left: calc(var(--left-sym) * 5);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(20) {
  left: calc(var(--left-sym) * 6);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(21) {
  left: calc(var(--left-sym) * 7);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(22) {
  left: calc(var(--left-sym) * 8);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(23) {
  left: calc(var(--left-sym) * 9);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(24) {
  left: calc(var(--left-sym) * 10);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(25) {
  left: calc(var(--left-sym) * 11);
  top: 40px;
}
.symbol-layout .key-symbol:nth-child(26) {
  left: calc(var(--left-sym) * 12);
  top: 40px;
}

.number-layout .key-number {
  width: 128px;
  --left-num: 128px;
}

.number-layout .key-number:nth-child(1) {
  left: 0;
  top: 0;
}
.number-layout .key-number:nth-child(2) {
  left: calc(var(--left-num) * 1);
  top: 0;
}
.number-layout .key-number:nth-child(3) {
  left: calc(var(--left-num) * 2);
  top: 0;
}
.number-layout .key-number:nth-child(4) {
  left: calc(var(--left-num) * 3);
  top: 0;
}
.number-layout .key-number:nth-child(5) {
  left: calc(var(--left-num) * 4);
  top: 0;
}
.number-layout .key-number:nth-child(6) {
  left: 0;
  top: 40px;
}
.number-layout .key-number:nth-child(7) {
  left: calc(var(--left-num) * 1);
  top: 40px;
}
.number-layout .key-number:nth-child(8) {
  left: calc(var(--left-num) * 2);
  top: 40px;
}
.number-layout .key-number:nth-child(9) {
  left: calc(var(--left-num) * 3);
  top: 40px;
}
.number-layout .key-number:nth-child(10) {
  left: calc(var(--left-num) * 4);
  top: 40px;
}
