@font-face {
  font-family: "pt-sans";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
  font-family: "pt-sans";
  font-weight: bold;
  font-style: normal;
  src: url(/fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
  font-family: "pt-sans";
  font-weight: bold;
  font-style: italic;
  src: url(/fonts/PT_Sans-Web-BoldItalic.ttf);
}

@font-face {
  font-family: "pt-sans";
  font-weight: normal;
  font-style: italic;
  src: url(/fonts/PT_Sans-Web-Italic.ttf);
}
