.profile-wrap {
  position: relative;
  padding: 30px 50px 50px;
  margin: 50px auto;
  max-width: 480px;
  box-sizing: border-box;
}

body.light-theme .profile-wrap {
  box-shadow: 0px 0px 24px 8px rgba(127, 140, 141, 1);
}

body.dark-theme .profile-wrap {
  box-shadow: 0px 0px 24px 8px rgba(236, 240, 241, 1);
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(/image/icon-close.png) center center, no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 600ms ease;
}

.exit-button:hover {
  transform: scale(1.2);
  transition: all 600ms ease;
}

body.light-theme .exit-button:hover {
  filter: brightness(0);
}

body.dark-theme .exit-button:hover {
  filter: contrast(1000%);
}

.profile-date-field {
  text-align: center;
  font-weight: 600;
}

.profile-group {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #bdc3c7;
}

.profile-group:last-child {
  border: none;
}

.profile-field {
  margin-right: 30px;
  flex: 1 0 0;
  text-align: left;
  overflow: hidden;
}

.profile-field:first-child {
  margin-right: 15px;
  flex: 0 0 25%;
}

.field-change-button {
  margin: 0 auto;
  flex-grow: 0;
  text-align: right;
  cursor: pointer;
}

body.light-theme .field-change-button:hover {
  color: #000000;
}

body.dark-theme .field-change-button:hover {
  color: #bdc3c7;
}

.profile-change-wrap {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.profile-change-wrap input {
  /* margin-right: 30px; */
  flex: 1;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.profile-change-wrap input:focus {
  outline: none;
}

.profile-change-wrap div {
  flex: 1;
  text-align: right;
}

.profile-image-wrap {
  display: block;
  position: relative;
  margin: 0 auto 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

body.light-theme .profile-image-wrap {
  box-shadow: 0px 0px 24px 2px rgba(127, 140, 141, 1);
}

body.dark-theme .profile-image-wrap {
  box-shadow: 0px 0px 24px 2px rgba(236, 240, 241, 1);
}

.profile-image-wrap img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-image-wrap img:hover {
  cursor: zoom-in;
}
.profile-image-wrap .image-change-button {
  display: none;
}

.profile-image-wrap:hover .image-change-button {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  line-height: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ecf0f1;
  cursor: pointer;
}

.image-change-window {
  padding: 50px;
  position: fixed;
  max-width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body.light-theme .image-change-window {
  background-color: #ffffff;
  box-shadow: 0px 0px 24px 8px rgba(127, 140, 141, 1);
}

body.dark-theme .image-change-window {
  background-color: #363333;
  box-shadow: 0px 0px 24px 8px rgba(236, 240, 241, 1);
}

.image-change-window input {
  margin: 0 0 20px;
  width: 300px;
  height: 20px;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
}

.image-change-window .image-change-window-button {
  cursor: pointer;
}

body.light-theme .image-change-window-button:hover {
  color: #000000;
}

body.dark-theme .image-change-window-button:hover {
  color: #bdc3c7;
}

.scale-image img {
  position: fixed;
  max-width: 500px;
  max-height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

body.light-theme .scale-image img {
  background-color: #ffffff;
  box-shadow: 0px 0px 24px 8px rgba(127, 140, 141, 1);
}

body.dark-theme .scale-image img {
  background-color: #363333;
  box-shadow: 0px 0px 24px 8px rgba(236, 240, 241, 1);
}

.scale-image img:hover {
  cursor: zoom-out;
}

@media screen and (max-width: 520px) {
  .profile-wrap {
    max-width: 360px;
  }

  .profile-field {
    margin: 0;
    flex: 1 0 50%;
  }

  .profile-change-wrap {
    flex: 1;
    flex-flow: column;
  }
}

@media screen and (max-width: 480px) {
  .profile-wrap {
    width: 100%;
    max-width: 100%;
  }
}
