.header-wrap {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bdc3c7;
}

.logo-wrap {
  min-width: 100px;
  width: 100px;
  font-size: 0;
}

.logo-wrap a img {
  width: 100%;
  transition: filter 600ms ease;
}

.logo-wrap a img:hover {
  transition: filter 600ms ease;
}

body.light-theme .logo-wrap a img:hover {
  filter: brightness(0);
}

body.dark-theme .logo-wrap a img:hover {
  filter: contrast(1000%);
}

.theme-button-wrap {
  margin: 0 20px;
  display: block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 600ms ease;
}

.theme-button-wrap img {
  width: 100%;
}

.theme-button-wrap:hover {
  transition: all 600ms ease;
  transform: rotate(360deg);
}

body.light-theme .theme-button-wrap:hover {
  filter: brightness(0);
}

.nav-wrap {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: stretch;
}

.sign-button-wrap,
.reg-button-wrap,
.out-button-wrap {
  padding: 5px 0;
  position: relative;
  min-width: 100px;
  min-height: 40px;
  text-align: center;
  cursor: pointer;
}

.sign-button-wrap div,
.reg-button-wrap div,
.out-button-wrap div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-button-wrap:after,
.reg-button-wrap::after,
.out-button-wrap:after,
.profile-nav-button-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sign-button-wrap:hover::after {
  border-bottom: 1px solid #2ecc71;
}

.reg-button-wrap:hover:after {
  border-bottom: 1px solid #e74c3c;
}

.out-button-wrap:hover:after {
  border-bottom: 1px solid #e74c3c;
}

.profile-nav-button-wrap:hover:after {
  border-bottom: 1px solid #bdc3c7;
}

.profile-nav-button-wrap {
  padding: 5px 0;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.profile-nav-button-wrap .profile-nav-image-wrap {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-nav-button-wrap .profile-nav-image-wrap img {
  width: 100%;
  height: 100%;
}

.profile-nav-button-wrap .profile-nav-user-name {
  position: relative;
  padding: 0 10px;
}

.profile-nav-image-wrap img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .logo-wrap {
    width: 120px;
    margin-bottom: 20px;
  }

  .nav-wrap {
    flex: 1 0 100%;
    width: 100%;
    justify-content: space-around;
  }

  .nav-wrap div {
    flex-grow: 0;
  }

  .theme-button-wrap {
    width: 25px;
    height: 25px;
    margin: 0 0 20px;
  }
}
