.weather-wrap {
  position: relative;
  margin: 50px auto;
  padding: 30px 50px 50px;
  min-height: 300px;
  max-width: 350px;
  box-sizing: border-box;
}

body.light-theme .weather-wrap {
  box-shadow: 0px 0px 24px 8px rgba(127, 140, 141, 1);
}

body.dark-theme .weather-wrap {
  box-shadow: 0px 0px 24px 8px rgba(236, 240, 241, 1);
}

.weather-parameters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 20px;
}

.weather-button-refresh {
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 40px;
  background: url(/image/icon-refresh.png) center center, no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 600ms ease;
}

.weather-button-refresh:hover {
  transform: rotate(360deg);
  transition: all 600ms ease;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  text-align: center;
}

.loader div:first-child {
  margin-bottom: 20px;
  width: 100%;
}

.loader div:last-child:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid;
  animation: loader 1.2s linear infinite;
}

body.light-theme .loader div:last-child:after {
  border-color: #bdc3c7 transparent #bdc3c7 transparent;
}

body.dark-theme .loader div:last-child:after {
  border-color: #ecf0f1 transparent #ecf0f1 transparent;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
