footer {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bdc3c7;
}

.author-wrap {
  pointer-events: none;
}

.social-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-wrap a {
  margin: 0 5px;

  width: 40px;
  height: 40px;
  transition: filter 600ms ease;
}

.social-wrap a img {
  width: 100%;
}

.social-wrap a:hover {
  transition: filter 600ms ease;
}

body.light-theme .social-wrap a:hover {
  filter: brightness(0);
}

body.dark-theme .social-wrap a:hover {
  filter: contrast(1000%) brightness(100%);
}

@media screen and (max-width: 480px) {
  footer {
    flex-flow: column;
  }

  .social-wrap {
    width: 100%;
  }

  .social-wrap a {
    width: 50px;
    height: 50px;
  }
}
