.auth-form {
  margin: 50px auto;
  padding: 30px 50px 50px;
  max-width: 350px;
  box-sizing: border-box;
  position: relative;
}

body.light-theme .auth-form {
  box-shadow: 0px 0px 24px 8px rgba(127, 140, 141, 1);
}

body.dark-theme .auth-form {
  box-shadow: 0px 0px 24px 8px rgba(236, 240, 241, 1);
}

.auth-form > * {
  margin-bottom: 10px;
}

.auth-form > *:last-child {
  margin-bottom: 0;
}

.auth-form input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #bdc3c7;
  background-color: transparent;
}

.auth-password-visible-button + input {
  padding-right: 40px;
}

.auth-password-wrap {
  position: relative;
}

.auth-login-wrap {
  position: relative;
}

@media screen and (min-device-width: 1025px) {
  .keyboard-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url(/image/icon-keyboard.png);
    box-sizing: border-box;
    transition: filter 600ms ease;
    cursor: pointer;
    z-index: 0;
  }

  .keyboard-button + input {
    padding-right: 40px;
  }

  .auth-password-visible-button + .keyboard-button + input {
    padding-right: 80px;
  }

  .auth-password-visible-button + .keyboard-button {
    right: 40px;
  }

  .keyboard-button:hover {
    transition: filter 600ms ease;
  }

  body.light-theme .keyboard-button:hover {
    filter: brightness(0);
  }

  body.dark-theme .keyboard-button:hover {
    filter: contrast(1000%);
  }
}

.auth-button-submit-wrap {
  width: 100%;
}

.auth-button-submit-wrap button {
  position: relative;
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  border: none;
  background-color: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  background: transparent;
  font-size: 17px;
}

.auth-button-submit-wrap button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.auth-button-submit-wrap button:hover:after {
  border-bottom: 1px solid #7dbf26;
}

.auth-password-visible-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-sizing: border-box;
  z-index: 0;
  transition: filter 600ms ease;
  cursor: pointer;
}

.auth-password-visible-button:hover {
  transition: filter 600ms ease;
}

body.light-theme .auth-password-visible-button:hover {
  filter: brightness(0);
}

body.dark-theme .auth-password-visible-button:hover {
  filter: contrast(1000%);
}

.show-password {
  background-image: url(/image/show-password.png);
}

.hidden-password {
  background-image: url(/image/hidden-password.png);
}

.auth-error {
  margin: 5px 0;
  color: #e74c3c;
}

.secure-wrap {
  width: 100%;
  font-size: 90%;
}

.secure-line {
  position: relative;
  margin: 5px 0;
  display: block;
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 4px;
  overflow: hidden;
}

.secure-error:after,
.secure-warning::after,
.secure-success:after,
.secure-full-success:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.secure-error:after {
  width: 25%;
  background-color: #e74c3c;
}

.secure-warning:after {
  width: 50%;
  background-color: #f1c40f;
}

.secure-success:after {
  width: 75%;
  background-color: #1abc9c;
}

.secure-full-success:after {
  width: 100%;
  background-color: #27ae60;
}

.secure-description {
  display: block;
  padding: 0 5px;
}

.secure-symbol {
  padding-left: 5px;
}

.hello-window-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  cursor: initial;
}

.hello-window-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

body.light-theme .hello-window-wrap::before {
  background-color: #ffffff;
}

body.dark-theme .hello-window-wrap::before {
  background-color: #363333;
}

.hello-window-wrap div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 40px;
  text-align: center;
}